In [1]:
import pandas as pd
import numpy as np
import os

In [ ]:
os.getcwd()

In [77]:
#To read the data from a csv file
stack=pd.read_csv("stackoverflow.csv",sep=",",header=0)

In [38]:
#Fetch the top rows to check the data in the file
#To do basic check on the data to understand its contests
stack.head()

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote,CareerSatisfaction,Datascientist,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
0,3,United Kingdom,113750.0,20,1,1,10000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
1,15,United Kingdom,100000.0,20,0,1,5000.0,Remote,8,0,...,0,1,0,0,0,0,0,0,0,NaN
2,18,United States,130000.0,20,1,1,1000.0,Remote,9,0,...,1,1,0,0,0,0,1,0,1,NaN
3,19,United States,82500.0,3,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
4,26,United States,175000.0,16,0,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN

In [11]:
#Check the dimension
stack.shape

(6991, 23)

In [12]:
#Verification of the Null values in the columns
stack.isnull().sum()

RespondentID                               0
Country                                    0
Salary                                     0
YearsCodedJob                              0
OpenSource                                 0
Hobby                                      0
CompanySizeNumber                         31
Remote                                     0
CareerSatisfaction                         0
Datascientist                              0
Database administrator                     0
Desktop applications developer             0
Developer with stats/math background       0
DevOps                                     0
Embedded developer                         0
Graphic designer                           0
Graphics programming                       0
Machine learning specialist                0
Mobile developer                           0
Quality assurance engineer                 0
Systems administrator                      0
Web developer                              0
                                        6991
dtype: int64

In [13]:
#Find the different countries in the dataset
stack['Country'].unique()

array(['United Kingdom', 'United States', 'Germany', 'India', 'Canada'],
      dtype=object)

In [14]:
#Find the count of employees who are datascientist and are Indians
stack.query("Country=='India' & Datascientist==1").shape[0]

43

In [16]:
#Find the count of employees who work in remote areas
stack.query("Remote=='Remote'").shape[0]

718

In [17]:
#Find the number of Germans who have more than 10 years of experience 
stack.query("Country=='Germany' & YearsCodedJob>10").shape[0]

181

In [39]:
#To find the which country employees have the maximum average salary
stgrp=stack.groupby('Country')['Salary'].mean().sort_values(ascending=False)
stgrp
#Employees from US gets more salary
#Indian employees get the least salary

Country
United States     98313.127654
Canada            58226.407451
United Kingdom    53962.871808
Germany           52405.823429
India             11557.674529
Name: Salary, dtype: float64

In [78]:
#To get which country has the least number of workers working in remote 
#Flag the remore column where 1 indicates Remote and 0 indicates Not remote
stack['newrem'] = np.where(stack['Remote']=='Remote', 1, 0)
stack.head()
stack.groupby('Country')['newrem'].count().sort_values(ascending=False)
#Unites States has more number of employees in remote 
#Canada has less numner of employees working in remote

Country
United States     3486
United Kingdom    1270
Germany            950
India              666
Canada             619
Name: newrem, dtype: int64

In [41]:
#To find the percentage of Mobile Developers in the data
stackmob=stack.groupby('Mobile developer')['Mobile developer'].count()
stackmob

Mobile developer
0    5635
1    1356
Name: Mobile developer, dtype: int64

In [42]:
1356/(5635+1356)
#19% of employees are Mobile Developers

0.19396366757259334

In [43]:
#To find the percentage of Web developers in the data
stackweb=stack.groupby('Web developer')['Web developer'].count()
stackweb

Web developer
0    1929
1    5062
Name: Web developer, dtype: int64

In [35]:
#72% of employees are web developers
5062/(1929+5062)

0.7240738091832356

In [51]:
#Total number of employees who are mobile developers and web developers and are working in remote 
stack.loc[(stack["Mobile developer"]==1) & (stack["Web developer"]==1) & (stack["newrem"]==1),:].shape[0]

115

In [52]:
#Calculate the Salary of employees across countries and the years of experience
stack.groupby('Country').agg({'Salary':np.max,'YearsCodedJob':np.mean}).sort_values("Salary",ascending=False)

                     Salary  YearsCodedJob
Country
United States   197000.0000       8.397877
United Kingdom  193750.0000       7.315748
India           163134.7967       3.696697
Canada          151515.1515       7.523425
Germany         140000.0000       7.058947

In [53]:
#Defining a function to group the data into 3 categories based on salary of the employees
def get_label(x):
    if x<20 :
        return 'low'
    elif x>=20 and x=<1000:
        return 'medium'
    else:
        return 'high'

In [57]:
#Mapping the functions to create label
stack['label']=stack['CompanySizeNumber'].map(get_label)

In [58]:
#Splitting the employees based on their salary slab
stack.groupby('label')['label'].count()

label
high      2294
low       1156
medium    3541
Name: label, dtype: int64

In [80]:
#Finding the number of employees who are Datascientist or Machine learning specialist or Developer with stats/math background
stack.loc[(stack["Developer with stats/math background"]==1) | (stack["Datascientist"]==1) | (stack["Machine learning specialist"]==1),:].shape[0]

1129